<div class="page-header">
  <%= link_to new_open_house_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Open house
  <% end %>
  <h1>Listing open_houses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Institute</th>
            <th>Branch of study</th>
            <th>Email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @open_houses) do |open_house| %>
            <td><%= open_house.name %></td>
            <td><%= open_house.institute %></td>
            <td><%= open_house.branch_of_study %></td>
            <td><%= open_house.email %></td>
            <td><%= link_to 'Show', open_house %></td>
        <td><%= link_to 'Edit', edit_open_house_path(open_house) %></td>
        <td><%= link_to 'Destroy', open_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
